// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// container
.container {
  @include wrapper_80;
}

//list
ul {
  list-style-type: none;
}

// link
a {
  text-decoration: none;
  cursor: pointer;
}

// hr
.hr-close {
  width: 80%;
  margin: 100px auto 0px;
  border: 1px solid $color_text_primary;
}

// icon google
.icon {
  color: $color_primary;
  margin-right: 5px;
}

// text
.text-medium {
  font-size: $text_medium;
}

//btn
.btn {
  @include btn_general;
}
