// main

//section
.section {
  background-color: $color_primary;
  color: $color_text_primary;
  padding: $padding_section;
  text-align: $text_center;

  .section-img {
    @include d_flex;
    width: 65%;
    margin: 25px auto;
    padding: $padding_10px;

    .single-item img {
      height: 140px;
      margin-bottom: $margin_bottom_25px
    }
  }

  .center-img {
    width: 30%;
    padding: $padding_section;

    + h2 {
      margin-top: 50px;
    }
  }
}

.section-2-item {
  display: flex;
  margin-top: 100px;

  img {
      width: 50%;
  }

  .text-item {
    width: 20%;
    color: $color_text_primary;

    h2 {
      font-size: 35px;
      margin-bottom: $margin_bottom_25px;
    }
    p {
      font-size: $text_medium;
      margin-bottom: $margin_bottom_25px;
    }
    a {
      font-size: $text_medium;
      margin-bottom: $margin_bottom_25px;
    }
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }
}

.img-box {
  position: relative;

  .section-2-img {
    width: 20%;
    position: absolute;
    top: -135px;
    left: 50%;

    &.row-reverse {
      left: 30%;
      top: -180px;
    }
  }
}


.section-3 {
  background-color: $color_primary;
  color: $color_text_primary;
  padding: $padding_section;
  margin-top: 150px;

  .box-section {
    width: 30%;
    margin: 0 auto;

    h2 {
      font-size: 38px;
    }

    .text-box {
      background-color: white;
      padding: 20px;
      border: 1px solid $color_secondary;
      border-radius: 10px;
      margin: $margin_top_bottom 0;
      font-size: $text_medium;

      .img-section-3 {
        display: flex;
        align-items: center;
        margin-top: 15px;
        img {
          width: 70px;
          margin-right: 10px;
        }
        h5 {
          color: $color_secondary;
          p {
            color: $color_text_primary;
          }
        }
      }
    }
  }
}
