nav {

  color: $color_text_primary;
  border-bottom: 1px solid $color_text_primary;

  &.d-flex {
    @include d_flex;
    padding: $padding_10px;
  }

  .logo {
    @include d_flex;
    font-size: 22px;

    img {
      margin-right: 5px;
    }
  }

  li {
    display: inline-block;
    padding: 0 5px;
    font-weight: $text_bold;
    cursor: pointer;

    .btn {
      @include btn_general;
    }

  }
}
