// variabili colori
$color_primary: #fee7d1;
$color_secondary: #2e4993;
$color_text_primary: #5f4835;


// padding, margin
$padding_section: 30px 0;
$padding_10px: 10px 0;


// text variables
$text_center: center;
$text_bold: bold;
